.DS_Store
*/.DS_Store
*.DS_Store
ipas/games/roblox.ipa
ipas/apps/YouTubeEnhanced.ipa
ipas/games/Beatclone.ipa
ipas/games/flappybird.ipa
ipas/games/gtaiii.ipa
ipas/games/inside.ipa
ipas/games/minecraft.ipa
ipas/games/roblox.ipa
